*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    font-family: Outfit;
    justify-content: center;
    background-color: hsl(212, 45%, 89%);
}


.qr
{
    width: 75rem;
    height: 115rem;
    border-radius: 4rem;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
}

.qr .code
{
    width: 90%;
    height: 55%;
    margin: auto;
    margin-top: 62px;
    background-size: cover;
    border-radius: 4rem;
    background-image: url(images/image-qr-code.png);
}

.qr h1
{
    margin-top: 6rem;
    margin-bottom: 4rem;
    text-align: center;
    font-weight: 900;
    font-size: 6rem;
    color: hsl(218, 44%, 22%);
}

p
{
    font-size: 4rem;
    text-align: center;
    color: hsl(220, 15%, 55%);
}

.attribution
{
    bottom: 5%;
    font-size: 3rem;
    position: absolute;
    font-family: 'Outfit';
}


.attribution a
{
    color: rgb(0, 0, 211);
    text-decoration: none;
}

.attribution a:hover
{
    font-weight: bold;
    color: rgb(0, 0, 211);
    transition: all 0.4s ease-in;
}