*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Outfit';
    src: url('Outfit/Outfit-Thin.woff2') format('woff2'),
        url('Outfit/Outfit-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


body
{
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    font-family: Outfit;
    justify-content: center;
    background-color: hsl(212, 45%, 89%);
    border: 1px solid red;
}


.qr
{
    width: 75rem;
    height: 115rem;
    border-radius: 4rem;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
}

.qr .code
{
    width: 90%;
    height: 55%;
    margin: auto;
    margin-top: 62px;
    background-size: cover;
    border-radius: 4rem;
    background-image: url(images/image-qr-code.png);
}

.qr h1
{
    margin-top: 6rem;
    margin-bottom: 4rem;
    text-align: center;
    font-weight: 900;
    font-size: 6rem;
    color: hsl(218, 44%, 22%);
}

p
{
    font-size: 4rem;
    text-align: center;
    color: hsl(220, 15%, 55%);
}

.attribution
{
    bottom: 5%;
    font-size: 2rem;
    position: absolute;
    font-family: 'Outfit';
}


.attribution p > a
{
    color: rgb(52, 51, 51);
    text-decoration: none;
}

.attribution p > a:hover
{
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    transition: all 0.4s ease-in;
}